/*body*/
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/*header*/
header {
  background-color: #363b47;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #dff2ff;
}
header nav div {
  display: flex;
}
header nav .navright {
  gap: 1rem;
  font-size: 1rem;
  color: #677b8b;
}
header nav .navright .bgbleu {
  background-color: #3676bb;
  color: #dff2ff;
}

/* banner */
.banner img {
  width: 100%;
  height: 15rem;
}

/* section 1 */
.sec1 {
  color: #7a8491;
  font-size: 1.5rem;
  padding: 3rem;
  background-color: #e8e6e0;
}
.sec1 p {
  width: 80%;
  margin: auto;
}
.sec1 p p:nth-last-child(1) {
  padding-top: 2rem;
}
.sec1 p span:nth-child(1) {
  background-color: #26a2cc;
  color: white;
}
.sec1 p span:nth-child(2) {
  color: #26a2cc;
  font-weight: bold;
}
.sec1 p span:nth-child(3) {
  color: rgba(87, 86, 84, 0.9843137255);
}

/* section 2 4row */
.sec2quatrediv {
  display: flex;
  gap: 2rem;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}
.sec2quatrediv p:nth-last-child(1) {
  color: #7a8491;
}
.sec2quatrediv i {
  background-color: white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 2.2rem;
  color: #3676bb;
  font-size: 1.2rem;
}
.sec2quatrediv h1 {
  font-size: 0.7rem;
}
.sec2quatrediv .bleu {
  color: #30a8cf;
}

.sec2firstdiv,
.sec2seconddiv,
.sec2thirddiv,
.sec2fourthdiv {
  background-color: #e8e6e0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
  font-size: 0.8rem;
}

/* section 3 3row */
.sec3quatrediv {
  display: flex;
  margin: auto;
  width: 80%;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.sec3quatrediv p:nth-child(2) {
  font-size: 0.8rem;
  color: rgba(122, 132, 145, 0.631372549);
}
.sec3quatrediv p:nth-child(3) {
  font-size: 0.8rem;
  color: #7a8491;
}
.sec3quatrediv button {
  background-color: #30a8cf;
  color: #dff2ff;
  width: 105px;
  height: 40px;
  border-radius: 0.3rem;
  border: none;
}

.sec3firstdiv {
  text-align: left;
  width: 70%;
  padding-right: 6rem;
}

.sec3troisimg {
  display: flex;
  width: 100%;
  gap: 0.3rem;
}
.sec3troisimg img {
  width: 100%;
}
.sec3troisimg h2 {
  font-size: 0.8rem;
  color: rgba(223, 242, 255, 0.8745098039);
}

.sec3seconddiv,
.sec3thirddiv,
.sec3fourthdiv {
  background-color: #38485f;
  margin: 0 0.2rem;
}

/* footer */
.ftxt {
  background-color: #3676bb;
  padding-left: 20rem;
  padding-right: 20rem;
  margin-top: 2rem;
  color: rgba(223, 242, 255, 0.2941176471);
  font-size: 0.5rem;
}
.ftxt h1 {
  font-weight: lighter;
  word-spacing: 0.5rem;
  padding-top: 2rem;
}
.ftxt .icons i {
  font-size: 1.8rem;
  padding-left: 0.8rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.secondfooter {
  background-color: #363b47;
  color: rgba(223, 242, 255, 0.2941176471);
  padding: 0.8rem;
  font-size: 0.8rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navright {
    gap: 0.5rem;
    font-size: 1rem;
  }

  .banner img {
    height: 13rem;
  }

  .sec1 {
    padding: 2rem;
  }
  .sec1 p {
    width: 70%;
  }
  .sec1 p:nth-last-child(1) {
    padding-top: 0.6rem;
  }

  .sec2quatrediv {
    width: 100%;
    margin-top: 2rem;
  }

  .sec3quatrediv {
    width: 100%;
    margin-top: 2rem;
  }

  .sec3firstdiv {
    text-align: center;
    padding-right: 0rem;
  }

  footer .ftxt {
    background-color: #3676bb;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 1.5rem;
    font-size: 0.7rem;
  }
  footer .icons {
    font-size: 1.4rem;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
  }
}
/* min width 321px - max width 767px */
@media (min-width: 320px) and (max-width: 767px) {
  nav {
    flex-direction: column;
  }
  nav .navleft {
    display: none;
  }
  nav div {
    display: flex;
    flex-direction: column;
  }
  nav .navright {
    gap: 0rem;
    padding: 1rem 0rem;
    font-size: 1rem;
  }

  .banner img {
    height: 12rem;
  }

  .sec1 {
    font-size: 1rem;
    padding: 1.4rem;
  }
  .sec1 p:nth-last-child(1) {
    padding-top: 1rem;
  }

  .sec2quatrediv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 1.5rem;
  }

  .sec3quatrediv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
  }

  .sec3firstdiv {
    text-align: center;
    width: 80%;
    padding-right: 2rem;
  }

  button {
    border: none;
    margin-bottom: 1.5rem;
    color: red;
  }

  .sec3troisimg {
    flex-direction: column;
  }
  .sec3troisimg h2 {
    font-size: 1.5rem;
  }

  footer .ftxt {
    padding-left: 0.8rem;
    padding-right: 1rem;
    margin-top: 1.5rem;
    color: rgba(223, 242, 255, 0.2941176471);
    font-size: 0.6rem;
    flex-direction: column;
  }

  .ftxt h1 {
    font-weight: lighter;
    word-spacing: 0.5rem;
    padding-top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
